.login-in{
    header{
        height: .44rem;
        background: #fff;
        border-bottom: 1px solid #b4b4b4;
        @include flexbox();
        padding:0 .15rem;
        line-height: .44rem;
        color:$base-color;
        i{
            font-size:.26rem;
            width: .2rem;
            transform: rotateY(180deg);
            color: #b4b4b4;
        }
        h3{
            @include flex();
            text-align: center;
            font-size: .2rem;
            color:$base-color;
            font-weight: bold;
        }
        span{
            width: .5rem;
            font-size: .16rem;
        }
    }
    .input-login{
        background: rgba(0,0,0,.05);
        padding:.2rem;
        .message{
            height: .44rem;
            border-bottom: 1px solid;
            border-color: $base-color;
            line-height: .44rem;
            text-indent: .1rem;
            font-size: .14rem;
            @include flexbox();
            margin-bottom: .06rem;
            input{
                background: rgba(0,0,0,.04);
                @include flex();
                border:0;
                text-indent: .1rem;
                font-size: .16rem;
            }
            span{
                width: .7rem;
                margin-top: .1rem;
                height: .26rem;
                line-height: .26rem;
                color: $base-color;
                border:1px solid ;
                border-color:$base-color;
                border-radius: 20px;
                text-align: center;
                background: rgba(0, 0, 0, .04);
            }
        }
    }
    .goto-reg{
        height: .44rem;
        width: 90%;
        margin:0 auto;
        line-height:.44rem;
        text-align:center;
        margin-top: .2rem;
        background: $base-color;
        border-radius: 20px;
        color: #fff;
        font-size: .2rem;
    }
    .agree{
        text-align: center;
        margin-top: .2rem;
    }
}